@import 'tailwindcss';

@theme inline {
  --color-background: #faf8ff;
  --color-foreground: #131b2e;
  --color-surface: #faf8ff;
  --color-surface-container: #eaedff;
  --color-surface-container-low: #f2f3ff;
  --color-surface-container-high: #e2e7ff;
  --color-surface-dim: #d2d9f4;
  --color-on-surface-variant: #464555;
  --color-outline: #777587;
  --color-outline-variant: #c7c4d8;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
